<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Backend đã chạy</h1>
    <p>Gõ /users để xem thông tin người dùng</p>
  </body>
</html>
